<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<link rel= "stylesheet" type= "text/css" href= "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script> 
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> 
</head>

<body>
<div class="center">
  <h1>Phones for everyone.</h1>
</div>


<div class="center">
  <ul>
    <li><a href="{{ url_for('home_page') }}">Home</a></li>

    <li><a href="">Search</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable', brand='all') }}">All</a>
        <a href="{{ url_for('variable', brand='OnePlus') }}">OnePlus</a>
        <a href="{{ url_for('variable', brand='Xiaomi') }}">Xiaomi</a>
        <a href="{{ url_for('variable', brand='Essential') }}">Essential</a>
      </div>
    </li>
  </ul>
</div>


<div class="center">

<table id="table_id" class="display">
    <thead>
        <tr>
            <th>Release date</th>
            <th>Brand</th>
            <th>Model</th>
            <th>Rating</th>
            <th>Processor</th>
            <th>Price</th>
        </tr>
    </thead>
</table>

</div>

</body>

<script>
$(document).ready( function () {
    $('#table_id').DataTable( {

      "data":{{ result|tojson }},

  } );
} );
</script>

</html>
