<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<link rel= "stylesheet" type= "text/css" href= "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
<!-- THIS IS THE HEADER -->
<div class="center border">
  <h1 class="center border-other"><a href="{{ url_for('home_page') }}">Phones for everyone.</a></h1>
</div>

<!-- THIS IS THE MENU -->
<br/>
<div class="center border">
  <ul class="list">
    <li class="list-item"><a href="{{ url_for('home_page') }}">Home</a></li>

    <li class="list-item"><a href="{{ url_for('guide_page') }}">Guide</a></li>

    <li class="list-item"><a href="{{ url_for('deals_page') }}">Deals</a></li>

    <li class="list-item dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable_page', brand='all') }}">All</a>
         {% for item in brands %}
          <a href="{{ url_for('variable_page', brand=item) }}">{{ item }}</a>
         {% endfor %}
      </div>
    </li>

    <li class="list-item"><a href="{{ url_for('propose_page') }}">Propose</a></li>

    <li class="list-item"><a href="{{ url_for('contact_page') }}">Contact</a></li>

  </ul>
</div>

<!-- THIS IS THE CONTENT -->
<br/>
<div class="center border">
  <table id="table_id" class="display color" width="80%">
      <thead>
          <tr>
              <th>Release date</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Rating</th>
              <th>Processor</th>
              <th>Price</th>
          </tr>
      </thead>
  </table>
</div>

</body>

<script>
$(document).ready( function () {
    $('#table_id').DataTable( {
      "data":{{ result|tojson }},
      "order": [[ 0, "desc" ]]
  } );
} );

</script>
</html>
