<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>
<!-- THIS IS THE HEADER -->
<div class="center border">
  <h1 class="center border-other">Phones for everyone.</h1>
</div>

<!-- THIS IS THE MENU -->
<br/>
<div class="center border">
  <ul class="list">
    <li class="list-item"><a href="{{ url_for('home_page') }}">Home</a></li>

    <li class="list-item"><a href="{{ url_for('guide_page') }}">Guide</a></li>

    <li class="list-item"><a href="{{ url_for('deals_page') }}">Deals</a></li>

    <li class="list-item dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable_page', brand='all') }}">All</a>
         {% for item in brands %}
          <a href="{{ url_for('variable_page', brand=item) }}">{{ item }}</a>
         {% endfor %}
      </div>
    </li>

    <li class="list-item"><a href="{{ url_for('propose_page') }}">Propose</a></li>

    <li class="list-item"><a href="{{ url_for('contact_page') }}">Contact</a></li>

  </ul>
</div>

<!-- THIS IS THE CONTENT -->
<br/>
<div class="center border" style="height: 420px">
  <div class="content-split">uiiiiiii</div>
  <div class="content-split">
    <h3>Leave an opinion!</h3>
    <form method="POST">
      <label for="fname">First Name</label><br/>
      <input type="text" name="firstname" style="margin: 10px" placeholder="Your name.."><br/>

      <label for="lname">Last Name</label><br/>
      <input type="text" name="lastname" style="margin: 10px" placeholder="Your name.."><br/>

      <label for="subject">Comments</label><br/>
      <textarea name="comment" style="margin: 10px; height: 50px;" placeholder="Enter text here.."></textarea><br/>

      <button class="btn btnred" type="submit" value="Submit">Submit</button>
    </form>
  </div>
</div>

<div class="center border">
  <div class="center2">
    <h3>Comments can be found below!</h3>
      <img src="{{ url_for('static', filename='down.png') }}" class="center-img-small" alt="" align="middle">
      <table class="simple">
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Comment</th>
        </tr>
        {% for item in result %}
        <tr>
          <td>{{ item[0] }}</td>
          <td>{{ item[1] }}</td>
          <td>{{ item[2] }}</td>
        </tr>
        {% endfor %}
      </table>
  </div>
</div>

</body>
</html>
