<!DOCTYPE html>
<html>

<head>
<title>Filter Page</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
<link rel= "stylesheet" type= "text/css" href= "//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body>
<!-- THIS IS THE HEADER -->
<div class="center border">
  <h1 class="center border-other"><a href="{{ url_for('home_page') }}">Phones for everyone.</a></h1>
</div>

<!-- THIS IS THE MENU -->
<br/>
<div class="center border">
  <ul class="list">
    <li class="list-item"><a href="{{ url_for('home_page') }}">Home</a></li>
    <li class="list-item"><a href="{{ url_for('guide_page') }}">Guide</a></li>
    <li class="list-item"><a href="{{ url_for('deals_page') }}">Deals</a></li>
    <li class="list-item dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable_page', brand='all') }}">All</a>
         {% for item in brands %}
          <a href="{{ url_for('variable_page', brand=item) }}">{{ item }}</a>
         {% endfor %}
      </div>
    </li>
    <li class="list-item"><a href="{{ url_for('propose_page') }}">Propose</a></li>
    <li class="list-item"><a href="{{ url_for('contact_page') }}">Contact</a></li>
  </ul>
</div>

<!-- THIS IS THE CONTENT -->
<hr>
<p class="center border" style="text-align: center">Some data filtering</p>
<hr>
<div class="center border">
  <h3 style="text-align: center;">Phones from trusted vendors</h3>
  <table id="table_id0" class="display compact color">
      <thead>
          <tr>
              <th>Release date</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Rating</th>
              <th>Processor</th>
              <th>Price</th>
          </tr>
      </thead>
  </table>
</div>

<br/>
<br/>
<div class="center border">
  <h3 style="text-align: center;">Phones from trusted vendors( <= 500 $ )</h3>
  <table id="table_id1" class="display compact color">
      <thead>
          <tr>
              <th>Release date</th>
              <th>Brand</th>
              <th>Model</th>
              <th>Rating</th>
              <th>Processor</th>
              <th>Price</th>
          </tr>
      </thead>
  </table>
</div>

</body>
<script>
$(document).ready( function () {
    $('#table_id0').DataTable( {
      "data": {{ trusted|tojson }},
      "order": [[ 0, "desc" ]],
      "pageLength": 50,
      "scrollY": 200,
      "scrollCollapse": true,
      "dom": 'tp'
  } );
} );

$(document).ready( function () {
    $('#table_id1').DataTable( {
      "data": {{ trusted_cheap|tojson }},
      "order": [[ 0, "desc" ]],
      "pageLength": 50,
      "scrollY": 200,
      "scrollCollapse": true,
      "dom": 'tp'
  } );
} );
</script>
</html>
