<!DOCTYPE html>
<html>

<head>
<title>Home Page</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>
<!-- THIS IS THE HEADER -->
<div class="center border">
  <h1 class="center border-other"><a href="{{ url_for('home_page') }}">Phones for everyone.</a></h1>
</div>

<!-- THIS IS THE MENU -->
<br/>
<div class="center border">
  <ul class="list">
    <li class="list-item"><a href="{{ url_for('home_page') }}">Home</a></li>
    <li class="list-item"><a href="{{ url_for('guide_page') }}">Guide</a></li>
    <li class="list-item"><a href="{{ url_for('deals_page') }}">Deals</a></li>
    <li class="list-item dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable_page', brand='all') }}">All</a>
         {% for item in brands %}
          <a href="{{ url_for('variable_page', brand=item) }}">{{ item }}</a>
         {% endfor %}
      </div>
    </li>
    <li class="list-item"><a href="{{ url_for('propose_page') }}">Propose</a></li>
    <li class="list-item"><a href="{{ url_for('contact_page') }}">Contact</a></li>

    <form method="POST">
      <input type="text" class="search" name="search" placeholder="Search..">
    </form>
  </ul>
</div>

<!-- THIS IS THE CONTENT -->
<div class="center border">
  <p style="text-align: center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </p>

  <div class="center2">
    <h4 class="content-text">
      This site represents a showcase of our tehnological inventions, in terms of mobile devices, from the last years.
      This is a personal project, in which I tried creating a useful guide in choosing a phone, linked with a big collection of phones which you can choose from.
    </h4>
  </div>

  <div class="center2">
    <p class="content-text">
      This page won't contain much, only a summary of the other pages, features.
      Also on this page you can find a <span style="color: orangered">search bar</span>, in the right part of the menu. The search bar is implemented to search any field in the database.
      (example: search for '2018' to get all the phones released in 2018, search for 'huawei' to get all the phones from that brand)</p>
    <p class="content-text">
      The <span style="color: orangered">guide page</span> contains a small guide that might be handful when picking a phone.</p>
    <p class="content-text">
      The <span style="color: orangered">deals page</span> contains some data filtering on the database, showcasing some maybe helpful criteria when picking a phone.</p>
    <p class="content-text">
      The <span style="color: orangered">brands page</span> is a dynamic page and changes based on brand. You can also view all the database entries.</p>
    <p class="content-text">
      If you find some phones missing, you can send information about them in the <span style="color: orangered">propose page</span>.</p>
    <p class="content-text">
      In the <span style="color: orangered">contact page</span>, you will see some short summary of my work and will be able to leave any comments, regarding the site or whatnot. Suggestions are welcome.</p>
  </div>

  <div class="center2">
    <h4 class="content-text">
      If you want to see how I created this site, and the backend behind it, hop onto this link and visit <a href="http://www.github.com/mihai10001/web_app" style="color: red">my Github page.</a> Also,
      <a href="http://www.github.com/mihai10001/scrap" style="color: blue">here</a> is the link to the scraper I created to populate my database.
    </h4>
</div>

</body>
</html>
