<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>
<div class="center">
  <h1>Phones for everyone.</h1>
</div>


<div class="center">
  <ul>
    <li><a href="#home">Home</a></li>

    <li><a href="#news">Search</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
      <div class="dropdown-content">
        <a href="#">All</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </li>
  </ul>
</div>


<div class="center">
  {% for entry in entries %}
    <h2>{{ entry }}</h2>
  {% endfor %}
</div>

</body>
</html>
