<!DOCTYPE html>
<html>

<head>
<title>Page Title</title>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>
<!-- THIS IS THE HEADER -->
<div class="center border">
  <h1 class="center border-other">Phones for everyone.</h1>
</div>

<!-- THIS IS THE MENU -->
<br/>
<div class="center border">
  <ul>
    <li><a href="{{ url_for('home_page') }}">Home</a></li>

    <li><a href="{{ url_for('home_page') }}">Guide</a></li>

    <li><a href="{{ url_for('home_page') }}">Deals</a></li>

    <li class="dropdown">
      <a href="javascript:void(0)" class="dropbtn">Brands</a>
      <div class="dropdown-content">
        <a href="{{ url_for('variable_page', brand='all') }}">All</a>
         {% for item in brands %}
          <a href="{{ url_for('variable_page', brand=item) }}">{{ item }}</a>
         {% endfor %}
      </div>
    </li>

    <li><a href="{{ url_for('propose_page') }}">Propose</a></li>

    <li><a href="{{ url_for('contact_page') }}">Contact</a></li>

  </ul>
</div>

<!-- THIS IS THE CONTENT -->
<hr>
<p class="center border" style="text-align: center">If you consider anything omitted, please complete the form below.<br/> After the algorithm checks for consistency, it will be added.</p>
<hr>

<div class="center border">
  <div class="content-focus">
    <form method="POST">
      <label for="fname">Date</label><br/>
      <input type="text" name="date" style="margin: 10px" placeholder="..."><br/>

      <label for="lname">Brand</label><br/>
      <input type="text" name="brand" style="margin: 10px" placeholder="..."><br/>

      <label for="lname">Model</label><br/>
      <input type="text" name="model" style="margin: 10px" placeholder="..."><br/>

      <label for="lname">Rating</label><br/>
      <input type="text" name="rating" style="margin: 10px" placeholder="..."><br/>

      <label for="lname">Processor</label><br/>
      <input type="text" name="proc" style="margin: 10px" placeholder="..."><br/>

      <label for="lname">Price</label><br/>
      <input type="text" name="price" style="margin: 10px" placeholder="..."><br/>

      <button class="btn btnred" type="submit" value="Submit">Submit</button>
    </form>
  </div>
</div>

</body>
</html>
